<% include partials/landingHeader %>
<% include partials/navbar %>


        <div class="bgimg-1">
            <div class="caption">
              <span class="border">Buffalo Mountain</span><br>
              <!-- Fix button from a tag to on click -->
              <button id="goToMap" class="btn btn-primary"><a href="/map">Go To Map!</a></button>
              <!-- <span class="border">BACKGROUND IMAGE</span> -->
            </div>
        </div>
          
        
<% include partials/footer %>
